/*
@media screen and (max-width: 767px) {
  .box {
    min-height: 600px;
    display: flex;
    flex-direction: column;
  }
  .newsletter,
  .contact_us {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .contact_us > p,
  .newsletter > p {
    font-size: 15px;
  }
  .contact_us :first-child,
  .newsletter :first-child {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) {
  .contact_us > p,
  .newsletter > p {
    font-size: 15px;
  }
  .contact_us :first-child,
  .newsletter :first-child {
    font-size: 25px;
  }
}

@media screen and (min-width: 992px) {
  .contact_us > p,
  .newsletter > p {
    font-size: 15px;
  }
  .contact_us :first-child,
  .newsletter :first-child {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .contact_us > p,
  .newsletter > p {
    font-size: 20px;
  }
  .contact_us :first-child,
  .newsletter :first-child {
    font-size: 35px;
  }
} */
