.second_Title_P{
    color:#EF5797;
    font-size: 40px;
    /* font-weight: bold; */
    font-family: "sofia-pro", Sans-serif;
  }
  .Second_Title_Red{
      color:#ad1f24;
      font-size: 40px;
      /* font-weight: bold; */
      font-family: "sofia-pro", Sans-serif;
    }
  .second_Title_P_bold{
    color:#EF5797;
    font-size: 40px;
    font-weight: bold;
    font-family: "sofia-pro", Sans-serif;
  }
.second_Title_P_ch {
    color:#EF5797;
    font-size: 40px;
    font-weight: bold;
    font-family: "sofia-pro", Sans-serif;
    }
    .second_Title_P_ch_no_margin{
      color:#EF5797;
      font-size: 35px;
      font-weight: bold;
      font-family: "sofia-pro", Sans-serif;
    }
    .second_Title_P_ch {
        color:#EF5797;
        font-size: 35px;
        font-weight: bold;
        font-family: "sofia-pro", Sans-serif;
        }
    .second_Title_P_ch_bold{
      color:#EF5797;
      font-size: 35px;
      font-weight: bold;
      font-family: "sofia-pro", Sans-serif;

    }



@media screen and (max-width: 767px) {
  .second_Title_P{
      color:#EF5797;
      font-size: 35px;
      font-weight: bold;
      font-family: "sofia-pro", Sans-serif;
            margin-top: 85px;
    }
    .Second_Title_Red{
        color:#ad1f24;
        font-size: 35px;
        font-weight: bold;
        font-family: "sofia-pro", Sans-serif;
              margin-top: 85px;
      }
  .second_Title_P_ch {
      color:#EF5797;
      font-size: 40px;
      font-weight: bold;
      font-family: "sofia-pro", Sans-serif;
      }
      .second_Title_P_ch {
          color:#EF5797;
          font-size: 35px;
          font-weight: bold;
          font-family: "sofia-pro", Sans-serif;
          margin-top: 85px;
          }
      .second_Title_P_ch_bold{
        color:#EF5797;
        font-size: 40px;
        font-weight: bold;
        font-family: "sofia-pro", Sans-serif;
        margin-top: 85px;
      }

}

@media only screen and (min-width: 768px) {
    .second_Title_P{
        color:#EF5797;
        font-size: 35px;
        font-weight: bold;
        font-family: "sofia-pro", Sans-serif;
              margin-top: 85px;
    }
    .Second_Title_Red{
        color:#ad1f24;
        font-size: 35px;
        font-weight: bold;
        font-family: "sofia-pro", Sans-serif;
              margin-top: 85px;
      }
    .second_Title_P_bold{
      color:#EF5797;
      font-size: 35px;
      font-weight: bold;
      font-family: "sofia-pro", Sans-serif;
    }
    .second_Title_P_ch {
        color:#EF5797;
        font-size: 40px;
        font-weight: bold;
        font-family: "sofia-pro", Sans-serif;
        margin-top: 85px;
    }
    .second_Title_P_ch_no_margin{
      color:#EF5797;
      font-size: 40px;
      font-weight: bold;
      font-family: "sofia-pro", Sans-serif;
    }
    .second_Title_P_ch_bold {
        color:#EF5797;
        font-size: 35px;
        font-weight: bold;
        font-family: "sofia-pro", Sans-serif;
        margin-top: 85px;
    }
}

@media only screen and (min-width: 992px) {
  .second_Title_P{
      color:#EF5797;
      font-size: 35px;
      /* font-weight: bold; */
      font-family: "sofia-pro", Sans-serif;
  }
  .Second_Title_Red{
      color:#ad1f24;
      font-size: 35px;
      /* font-weight: bold; */
      font-family: "sofia-pro", Sans-serif;
    }
  .second_Title_P_bold{
    color:#EF5797;
    font-size: 40px;
    font-weight: bold;
    font-family: "sofia-pro", Sans-serif;
  }
  .second_Title_P_ch {
      color:#EF5797;
      font-size: 40px;
      font-weight: bold;
      font-family: "sofia-pro", Sans-serif;
      margin-top: 85px;
  }
  .second_Title_P_ch_no_margin{
    color:#EF5797;
    font-size: 40px;
    font-weight: bold;
    font-family: "sofia-pro", Sans-serif;
      margin-top: 85px;
  }
  .second_Title_P_ch_bold {
      color:#EF5797;
      font-size: 40px;
      font-weight: bold;
      font-family: "sofia-pro", Sans-serif;
      margin-top: 85px;
  }
}

@media screen and (min-width: 1200px) {
    .second_Title_P{
        color:#EF5797;
        font-size: 20px !important;
        /* font-weight: bold; */
        font-family: "sofia-pro", Sans-serif;
        margin-bottom: 20px;
    }
    .Second_Title_Red{
        color:#ad1f24;
        margin-top: 40px;
        font-size: 20px !important;
        /* font-weight: bold; */
        font-family: "sofia-pro", Sans-serif;
        margin-bottom: 20px;
    }
    .second_Title_P_ch {
        color:#EF5797;
        font-size: 20px;
        font-weight: bold;
        font-family: "sofia-pro", Sans-serif;
        margin-bottom: 20px;
        margin-top: 0px;
    }.second_Title_P_bold{
      color:#EF5797;
      font-size: 40px;
      font-weight: bold;
      font-family: "sofia-pro", Sans-serif;
        margin-bottom: 20px;
    }
    .second_Title_P_ch_bold {
        color:#EF5797;
        font-size: 40px;
        font-weight: bold;
        font-family: "sofia-pro", Sans-serif;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .second_Title_P_ch_no_margin{
      color:#EF5797;
      font-size: 20px;
      font-weight: bold;
      font-family: "sofia-pro", Sans-serif;
      margin-bottom: 20px;
      margin-top: 0px;
    }
}
