/* .sky_space{
  padding-top: 80px;
}

.artTitle{
  color:#246f79;
  font-family: adonis-web, serif;
  font-weight:bold;

}
.SA_artistInfo{
    color:#246f79;
    margin-top:auto;
    margin-bottom:auto;
    font-weight: bold;
    font-size:20px;
    margin-right: 20px;
}
.SA_artistInfo2{
  color:#246f79;

  font-weight: bold;
  font-size:20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.social-icon{
  margin-right: 20px
}
.media_col{
  margin-top:60px;
  margin-bottom:80px;
}


@media screen and (max-width: 767px) {
  .artTitle{
    font-size: 50px;
    margin-bottom: 60px;
    font-family: sofia-pro, sans-serif;
  }
  .social-icon{
    height: 100px !important;
    width: 100px !important;
  }
  .SA_artistInfo{
    font-size: 30px;
  }
  .SA_artistInfo2{
    font-size: 35px;
    margin-bottom: 40px;
  }
  .media_col{
    display: none;
  }
  .media_col2{
    display: block;
    margin-top:40px;
  }
}


@media screen and (min-width: 768px) {
  .artTitle{
    font-size: 60px;

    font-family: sofia-pro, sans-serif;
  }
  .social-icon{
    height: 100px !important;
    width: 100px !important;
  }
  .SA_artistInfo{
    font-size: 30px;
  }
  .SA_artistInfo2{
    font-size: 35px;
    margin-bottom: 40px;
  }
  .media_col{
    display: none;
  }
  .media_col2{
    display: block;
    margin-top:40px;
  }
}

@media screen and (min-width: 992px) {
  .artTitle{
    font-size: 60px;
    margin-bottom: 60px;
    font-family: sofia-pro, sans-serif;
  }
  .social-icon{
    height: 100px !important;
    width: 100px !important;
  }
  .SA_artistInfo{
    font-size: 30px;
  }
  .SA_artistInfo2{
    font-size: 35px;
    margin-bottom: 40px;
  }
  .media_col{
    display: none;
  }
  .media_col2{
    display: block;
    margin-top:40px;
  }
}


@media screen and (min-width: 1200px) {
  .artTitle{
    font-size: 40px;
    margin-bottom: 60px;
    font-family: adonis-web, serif;
  }
  .social-icon{
    height: 50px !important;
    width: 50px !important;
  }
  .SA_artistInfo{
    font-size: 18px;
  }
  .SA_artistInfo2{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .media_col2{
    display: none;
  }
  .media_col{
    display: block;
  }
} */
