
.sky_art1_btn-ch:hover, .sky_art2_btn-ch:hover, .sky_art3_btn-ch:hover, .sky_art4_btn-ch:hover, .sky_art5_btn-ch:hover, .sky_art6_btn-ch:hover, .sky_art7_btn-ch:hover, .sky_art8_btn-ch:hover{
  background-color:#4E9B16;
  outline: none
}
.sky_art1_btn-ch{
  background-color: #2f6e79;
  color:white;
  border: none;
  margin-top:40px;
  margin-bottom: 20px;
  padding-left: 30%;
  padding-right: 30%;
  padding-top:2%;
  padding-bottom:2%;
  border-radius: 25px;
  font-size:20px;
}
.sky_art2_btn-ch{
  background-color: #2f6e79;
  color:white;
  border: none;
  /* margin-top:40px; */
  margin-bottom: 20px;
  padding-left: 30%;
  padding-right: 30%;
  padding-top:2%;
  padding-bottom:2%;
  border-radius: 25px;
  font-size:20px;
}
.sky_art3_btn-ch{
  background-color: #2f6e79;
  color:white;
  border: none;
  margin-top:40px;
  margin-bottom: 20px;
  padding-left: 25%;
  padding-right: 25%;
  padding-top:2%;
  padding-bottom:2%;
  border-radius: 25px;
  font-size:20px;
}
.sky_art4_btn-ch{
  background-color: #2f6e79;
  color:white;
  border: none;
  margin-top:40px;
  margin-bottom: 20px;
  padding-left: 17%;
  padding-right: 17%;
  padding-top:2%;
  padding-bottom:2%;
  border-radius: 25px;
  font-size:20px;
}
.sky_art5_btn-ch{
  background-color: #2f6e79;
  color:white;
  border: none;
  /* margin-top:40px; */
  margin-bottom: 20px;
  padding-left: 25%;
  padding-right: 25%;
  padding-top:2%;
  padding-bottom:2%;
  border-radius: 25px;
  font-size:20px;
}
.sky_art6_btn-ch{
  background-color: #2f6e79;
  color:white;
  border: none;
  margin-top:40px;
  margin-bottom: 20px;
  padding-left: 25%;
  padding-right: 25%;
  padding-top:2%;
  padding-bottom:2%;
  border-radius: 25px;
  font-size:20px;
}
.sky_art7_btn-ch{
  background-color: #2f6e79;
  color:white;
  border: none;
  margin-top:40px;
  margin-bottom: 20px;
  padding-left: 25%;
  padding-right: 25%;
  padding-top:2%;
  padding-bottom:2%;
  border-radius: 25px;
  font-size:20px;
}
.sky_art8_btn-ch{
  background-color: #2f6e79;
  color:white;
  border: none;
  margin-top:40px;
  margin-bottom: 20px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top:2%;
  padding-bottom:2%;
  border-radius: 25px;
  font-size:20px;
}
@media screen and (max-width: 767px) {
  .sky_art1_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 29%;
    padding-right: 30%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art2_btn-ch{
    margin-bottom: 20px;
    padding-left: 29%;
    padding-right: 30%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art3_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art4_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 15%;
    padding-right: 14%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art5_btn-ch{

    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art6_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art7_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art8_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 14%;
    padding-right: 15%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
}


@media screen and (min-width: 768px) {
  .sky_art1_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 29%;
    padding-right: 30%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art2_btn-ch{
    margin-bottom: 20px;
    padding-left: 29%;
    padding-right: 30%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art3_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art4_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 15%;
    padding-right: 14%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art5_btn-ch{

    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art6_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art7_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
  .sky_art8_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 14%;
    padding-right: 15%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:35px;
    border-radius: 45px;
  }
}

@media screen and (min-width: 992px) {
  .sky_col_border2_ch{
    border-bottom: solid 1px grey;
    padding-bottom:98px
  }
  .sky_art1_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 29%;
    padding-right: 30%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art2_btn-ch{
    margin-bottom: 20px;
    padding-left: 29%;
    padding-right: 30%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art3_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art4_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 15%;
    padding-right: 14%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art5_btn-ch{

    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art6_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art7_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art8_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 14%;
    padding-right: 15%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
}


@media screen and (min-width: 1200px) {
  .sky_art1_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 29%;
    padding-right: 30%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art2_btn-ch{
    margin-bottom: 20px;
    padding-left: 29%;
    padding-right: 30%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art3_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art4_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 15%;
    padding-right: 14%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art5_btn-ch{

    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art6_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art7_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 24%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art8_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 14%;
    padding-right: 15%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_col_border2_ch{
    border-bottom: solid 1px grey;
    padding-bottom:98px
  }
}
@media screen and (min-width: 2560px) {
  .sky_art1_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 30%;
    padding-right: 30%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art2_btn-ch{
    margin-bottom: 20px;
    padding-left: 30%;
    padding-right: 30%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art3_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art4_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art5_btn-ch{
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art6_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art7_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
  .sky_art8_btn-ch{
    margin-top:40px;
    margin-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top:2%;
    padding-bottom:2%;
    font-size:20px;
  }
}
