.SOA-container {
  padding-bottom: 5%;
}
.SOA-img {
  width: 100%;
  height: auto;
}
.SOA-name {
  padding: 15px;
  text-align: center;
  background-color: #246f79;
  color: white;
  font-family: "sofia-pro", Sans-serif;
  margin-top:10px;
  margin-bottom: 10px;
}

a:hover{
  text-decoration: none !important;
}
.otherArtist_button{
  background-color: grey;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top:1%;
  padding-bottom:1%;
  margin: auto;
  font-weight: bold;
  color: white
}
.otherArtist_button:hover{
  background-color: #4E9B16 !important;
  color:white !important;
}
.otherArtist_button:active{
  background-color: #4E9B16 !important;
  color:white !important;
}
@media screen and (max-width: 767px) {
  .SOA-container {
    margin: 0 9% 0 9%;
  }
  .SOA-name{
    font-size: 20px;
  }
  .desktop_container {
    display:none
  }
  .soa_button{
    text-align: center;
    /* border-radius: 20px; */
    background-color: #246f79;
    color: #0C3866;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:2%;
    padding-bottom:2%;
    margin: auto;
    /* font-weight: bold; */
    font-size: 30px !important;
    width:100%;
    color: white;
    display: inline-block;
    box-shadow:none!important;
    outline: none !important;
    border:none;
    margin-bottom: 40px;
  }
  .soa_button:hover{
    color:white!important;
  }
  .soa_button:active{
    color:white!important;
  }
  .soa_empty{
    padding-top: 90px;
  }
}

@media screen and (min-width: 768px) {
  .SOA-container {
    margin: 0 9% 0 9%;
  }
  .SOA-name{
    font-size: 15px;
  }
  .desktop_container {
    display:block
  }
  .soa_button{
    text-align: center;
    /* border-radius: 20px; */
    background-color: #246f79;
    color: #0C3866;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:2%;
    padding-bottom:2%;
    margin: auto;
    /* font-weight: bold; */
    font-size: 30px !important;
    width:100%;
    color: white;
    display: inline-block;
    box-shadow:none!important;
    outline: none !important;
    border:none;
    margin-bottom: 40px;
  }
  .soa_button:hover{
    color:white!important;
  }
  .soa_button:active{
    color:white!important;
  }
  .soa_empty{
    padding-top: 90px;
  }
}

@media screen and (min-width: 992px) {
  .soa_button{
    font-size:20px !important;
  }
  .SOA-container {
    margin: 0 9% 0 9%;
  }
  .SOA-name{
    font-size: 15px;
  }
  .SOA-container {
    padding-bottom: 60px;
  }
  .mobile_container_soa{
    display:block;
  }
  .desktop_container{
    display:block
  }
  .otherArtist_button{
      margin-bottom:50px;
  }
}

@media screen and (min-width: 1200px) {
  .desktop_container{
    display:block
  }
  .SOA-container {
    display:block;
    margin: 0 17% 0 17%;
  }
  .SOA-name{
    font-size: 15px;
  }
  .mobile_container_soa{
    display:none
  }

  @media screen and (min-width 2560px){
    .otherArtist_button{
      background-color: grey;
      border: none;
      border-radius: 25px;
      font-size: 18px;
      padding-left: 5%;
      padding-right: 5%;
      padding-top:1%;
      padding-bottom:1%;
      margin: auto;
      font-weight: bold;
      color: white
    }
  }
}
